<div class="col-md-3">
    <h2 class="text-left mb-3">Каталог</h2>
        
    <ul class="list-group list-unstyled">
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.all') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Все товары
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.man_wear') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Мужская одежда
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.woman_wear') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Женская одежда
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.bodysuit') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Боди
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.jeans') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Джинсы
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.caps') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Кепки
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.jackets') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Куртки
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.long_sleeves') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Лонгсливы
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.socks') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Носки
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.shoes') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Обувь
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.shirts') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Рубашки
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.sweatshirt') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Свитшоты
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.tops') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Топы
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.shirts') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Футболки
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.pants') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Штаны
            </a>
        </li>
        <li class="py-2 px-3 mb-2 border-bottom">
            <a href="{{ url_for('post.shorts') }}" class="text-decoration-none text-dark d-flex align-items-center">
                Шорты
            </a>
        </li>
    </ul>
</div>